.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 30%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Choices {
  display: flex;
  justify-content: space-around;
  flex-direction: row;  
}

.Choice {
  flex-direction: column;
  margin: 10em;
}

